.progress-bar
  .progress
    %span.meter{style: "width: 0%"}
.wrapper
  %h1.brand Webfont App
  .lead
    %h2 Unlock your combination
    %p Combofonts is a web application created to help provide strong and beautiful webfont pairs. With the increase of typefaces available for the web, it is becoming increasingly overwhelming to choose the ideal combo. We've streamlined the process of selecting down into a quick and easy task.
  .list
    %ul
      %li
        %span.question
        We ask questions about it's context.
      %li
        %span.options
        We provide you with options.
      %li
        %span.markup
        We share the HTML / CSS markup.
  %p= link_to "Let's get started", "/pairs/tone", class: "button expand radius"
