.progress-bar
  .step
    %p 2 of 4
  .progress
    %span.meter{style: "width: 50%"}
.wrapper
  %h1 2. What is the nature of the content?
  .mood-panel
    = form_tag('pairs/mood', method: 'post') do
      %ul.button-group.radius
        %li.button.playful.current Playful
        %li.button.serious Serious
        %input#playful{:type => "hidden", "name" => "playful", 'value' => 1}
      %ul.button-group.radius
        %li.button.light.current Light
        %li.button.dramatic Dramatic
        = hidden_field_tag 'light', 1
      %ul.button-group
        %li.button.modern Modern
        %li.button.classical.current Classical
        = hidden_field_tag 'modern', 1
    .next-button
      %button.button.expand.radius{ type:"submit" } Create Results


