.progress-bar
  .step
    %p 2 of 4
  .progress
    %span.meter{style: "width: 50%"}
.wrapper
  %h1 2. What is the nature of the content?
  .mood-panel
    %ul.button-group.radius
      %li.button.playful.current Playful
      %li.button.serious Serious
    %ul.button-group.radius
      %li.button.light.current Light
      %li.button.dramatic Dramatic
    %ul.button-group
      %li.button.modern Modern
      %li.button.classical.current Classical
  .next-button
    %button.button.expand.radius{ type:"submit" } Create Results
