.progress-bar
  .step
    %p 1 of 4
  .progress
    %span.meter{style: "width: 25%"}
.wrapper
  %h1 1. How would you describe the content?
  = link_to pairs_formal_path, class: "button expand radius" do
    %span.title Formal
    / %span.desc in accordance with rules of convention
    / %span.examples Used in: Newspapers, Textbooks, Signs, Maps
  = link_to pairs_casual_path, class: "button expand radius" do
    %span.title Casual
    / %span.desc done without serious intent
    / %span.examples Used in: Personal Blogs, Posters, CD Covers
  = link_to pairs_all_path, class: "button expand radius" do
    %span.title Not Sure?
