@import "foundation_and_overrides"
@import "foundation.scss"

@font-face
  font-family: 'Aleo-Light'
  src: image-url('Aleo-Light-webfont.eot')
  src: image-url('Aleo-Light-webfont.eot?#iefix') format("embedded-opentype"), image-url('Aleo-Light-webfont.woff') format("woff"), image-url('Aleo-Light-webfont.ttf') format("truetype"), image-url('Aleo-Light-webfont.svg#aleolight') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Novecentosanswide-Bold'
  src: image-url('Novecentosanswide-Bold-webfont.eot')
  src: image-url('Novecentosanswide-Bold-webfont.eot?#iefix') format("embedded-opentype"), image-url('Novecentosanswide-Bold-webfont.woff') format("woff"), image-url('Novecentosanswide-Bold-webfont.ttf') format("truetype"), image-url('Novecentosanswide-Bold-webfont.svg#novecento_sans_wide_bookbold') format("svg")
  font-weight: normal
  font-style: normal

body
  background-color: $secondary-color
  background: image-url('bg-pattern-letters.png')
.progress-bar
  width: 100%
  position: fixed
  bottom: 0
  z-index: 1
  .step
    width: 100%
    position: fixed
    bottom: 0
    text-align: center
    p
      margin: em-calc(0 0 10 0)
      font-family: 'Open Sans', sans-serif
      font-size: em-calc(16)
      font-style: italic
      color: #333333
  .progress
    width: 100%
    padding: 0
    margin: 0
    height: em-calc(50)
.wrapper
  @include grid-row
  @include grid-column(12)
  float: none
  padding-bottom: em-calc(20)
  h1.brand
    background: image-url('logo.png') no-repeat
    background-size: 100%
    text-indent: em-calc(-9999)
    margin: em-calc(100 0 35 0)
    @media #{$medium}
      height: em-calc(160)
  .lead
    @include grid-column(12)
  .list
    @include grid-column(12)
    ul
      @include grid-row
      margin: em-calc(25 0 0 0)
      @media #{$medium}
        margin-top: em-calc(0)
      li
        @include grid-column(12)
        margin: em-calc(20 0 50 0)
        font-family: 'Open Sans', sans-serif
        font-size: em-calc(18)
        list-style-type: none
        @media #{$large}
          @include grid-column(6,$offset:3)
        span.question
          background: image-url('icon-question.png') left no-repeat
          padding: em-calc(30 90 30 0)
        span.options
          background: image-url('icon-options.png') left no-repeat
          padding: em-calc(30 90 30 0)
        span.markup
          background: image-url('icon-markup.png') left no-repeat
          padding: em-calc(30 90 30 0)
  .mood-panel
    @include grid-row
    ul.button-group
      @include grid-column(8,$offset:2)
      margin: em-calc(0 0 20 0)
      display: inline-block
      text-align: center
      li.button
        @include grid-column(6)
        padding: em-calc(35 0)
        font-size: em-calc(18)
      li.current
        background-color: $primary-color
  .detail-panel
    @include grid-column(12)
    @media #{$medium}
      @include grid-column(3)
    ul.button-group
      @include grid-row
      margin: em-calc(30 0 30 0)
      display: inline-block
      text-align: center
      li.button
        margin: em-calc(0 20 20 0)
        @include grid-column(12)
  .alphabet
    @include grid-column(12)
    @media #{$medium}
      @include grid-column(9)
  .option-buttons
    text-align: center
    @media #{$medium}
      text-align: left
    .current
      background-color: $primary-color
      color: white
    .type-style
      @include grid-row
      margin-bottom: em-calc(0)
      .headline-style
        @include grid-column(6)
        @media #{$medium}
          @include grid-column(12)
        display: inline-block
        padding: 0
        margin-bottom: em-calc(25)
        p
          margin-bottom: 0
          font-size: em-calc(36)
      .body-style
        @include grid-column(6)
        @media #{$medium}
          @include grid-column(12)
        display: inline-block
        padding: 0
        p
          margin-bottom: 0
          font-size: em-calc(36)
.center
  text-align: center
.green
  h2
    color: $primary-color
h1, h2, h3, h4, h5, h6
  font-family: 'Aleo-Light', sans-serif
  color: $body-font-color
h1
  margin: em-calc(35 0)
  font-size: em-calc(42)
h1.title
  margin: em-calc(0 0 30 0)
h2.blockquote
  font-size: em-calc(28)
  margin-bottom: em-calc(20)
h6
  color: $primary-color
  font-size: em-calc(18)
  margin: 0
p
  font-family: 'Open Sans', sans-serif
  font-size: em-calc(18)
form, p, .next-button
  button.button, a.button
    margin: em-calc(20 0 75 0)
    padding: em-calc(35 0)
    font-family: 'Open Sans', sans-serif
    font-size: em-calc(24)
    font-weight: 800
    font-style:  italic
.button
  background-color: $secondary-color
.button:hover
  background-color: $primary-color
.button-group
  .button
    background-color: #cccccc
  .button:hover
    background-color: $primary-color
a.modal.button
  margin: em-calc(35 0 0 0)
  padding: em-calc(35 0)
  font-family: 'Open Sans', serif
  font-size: em-calc(24)
  font-weight: 300
  font-style:  italic
a.modal.button.bottom
  margin: em-calc(35 0 75 0)
.reveal-modal
  word-wrap: break-word
span.title
  display: block
  font-size: em-calc(24)
  font-weight: 300
  padding: em-calc(10)
pre
  margin-bottom: 1.25em

.hidden
  display: none
